.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("./../../2022/12/Blue-and-Green-Modern-Solar-Company-Flyer.png");background-position:-50px -1250px;background-repeat:no-repeat;background-size:120% auto;}.elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-background-overlay{background-color:var( --e-global-color-astglobalcolor2 );opacity:0.65;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1401 .elementor-element.elementor-element-623ea53{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:180px 0px 150px 0px;}.elementor-1401 .elementor-element.elementor-element-a09d3bc{text-align:center;}.elementor-1401 .elementor-element.elementor-element-a09d3bc .elementor-heading-title{color:#FFFFFF;}.elementor-1401 .elementor-element.elementor-element-e6eecd6 > .elementor-container{max-width:1200px;}.elementor-1401 .elementor-element.elementor-element-e6eecd6:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-e6eecd6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-astglobalcolor5 );}.elementor-1401 .elementor-element.elementor-element-e6eecd6 > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1401 .elementor-element.elementor-element-e6eecd6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 0px 0px;}.elementor-1401 .elementor-element.elementor-element-75764c5.elementor-column > .elementor-widget-wrap{justify-content:space-between;}.elementor-1401 .elementor-element.elementor-element-75764c5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-1401 .elementor-element.elementor-element-75764c5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1401 .elementor-element.elementor-element-ed0ac34{text-align:center;}.elementor-1401 .elementor-element.elementor-element-ed0ac34 .elementor-heading-title{color:#CB4154;}.elementor-1401 .elementor-element.elementor-element-ed0ac34 > .elementor-widget-container{padding:0px 0px 50px 0px;}.elementor-1401 .elementor-element.elementor-element-5a8ed63{--padding-top:0px;--padding-right:0px;--padding-bottom:150px;--padding-left:0px;}@media(min-width:1025px){.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:scroll;}}@media(max-width:1024px){.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0%;}.elementor-1401 .elementor-element.elementor-element-623ea53{padding:150px 0px 80px 0px;}.elementor-1401 .elementor-element.elementor-element-e6eecd6{padding:50px 30px 50px 30px;}}@media(max-width:767px){.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0%;}.elementor-1401 .elementor-element.elementor-element-623ea53{margin-top:0px;margin-bottom:0px;padding:150px 0px 80px 0px;}.elementor-1401 .elementor-element.elementor-element-e6eecd6{padding:50px 30px 50px 30px;}}/* Start custom CSS for section, class: .elementor-element-623ea53 */@media(max-width:1880px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 160%;
}}
@media(max-width:1450px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 200%;
}}
@media(max-width:1180px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 240%;
}}
@media(max-width:1000px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 280%;
}}
@media(max-width:850px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 320%;
}}
@media(max-width:700px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 400%;
}}
@media(max-width:580px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 500%;
}}
@media(max-width:460px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 600%;
}}
@media(max-width:380px){
.elementor-1401 .elementor-element.elementor-element-623ea53:not(.elementor-motion-effects-element-type-background), .elementor-1401 .elementor-element.elementor-element-623ea53 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -50px -1250px;
    background-repeat: no-repeat;
    background-size: 800%;
}}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-d4435c1 */.faq body {
  background: #f4f4f4;
  display: flex;
}

#faq {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#faq .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h1 {
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}

#faq h2 {
    color: #CB4154;
    font-family: 'hm_light', sans-serif;
    font-size: 23px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 550;
    letter-spacing: 0;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
}

#faq p {
    color: #171717;
    text-align: left;
    font-family: 'hm_light', arial;
    font-size: 18px;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    max-height: 10000px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: .3s opacity, .6s max-height;
    hyphens: auto;
    z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*padding-bottom: 4px;*/
  /*padding-top: 18px;*/
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
  margin-top: 15px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #cc071e;
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type=checkbox]:checked ~ h2 {
  color: #000;
}
#faq ul li input[type=checkbox]:checked ~ p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: .3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}
#faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}











* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: .3em 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}/* End custom CSS */